<h1>Index page</h1>
<% if notice.present? %>
  <div id="notice"> 
    <div class="alert alert-warning" >
      <strong><%= notice %></strong>
    </div>
  </div>
<% end %>
<%= @pins.each do |pin| %>
  <%= link_to (image_tag pin.image.url(:medium)), pin_path(pin) %>
  <h3><%= link_to "#{pin.title}", pin_path(pin) %></h3>
  <p><%= pin.description %></p>
<% end %>
<%= link_to 'New Post', new_pin_path, class: "btn btn-primary" %>